<!DOCTYPE html>

<html>

    <head>

        <title> 
            {% block title %} 
                globalbase.html
            {% endblock %} 
        </title>

    </head>
    
    <header>
    
        <h1> 
            {% block headertitle %} 
                globalbase.html
            {% endblock %} 
        </h1>
        
        {% if user.is_authenticated %}
            Hi {{ user.username }} you are Awesome!
            <a href="{% url 'logout' %}">logout</a>
        {% else %}
            Hey you wanna <a href="{% url 'login' %}">login</a>
        {% endif %}
    
    </header>

    <body>

        {% block content %}
        
        {% endblock %}

    </body>
    
    <footer>
        
        <ul>
            <li>PsyFaKo e.V.</li>
            <li>||</li>
            <li>Check out this porject at <a href="https://github.com/psyfako/psyfako_member_management"> github.com </a> </li>
        </ul> 
    
    </footer>

</html>
