<!DOCTYPE html>

<!-- https://docs.djangoproject.com/en/1.10/howto/static-files/#configuring-static-files -->
{% load static %}

<html>

    <head>

        <title> 
            {% block title %}globalbase.html{% endblock %} 
        </title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    
    <body>
        <div id ="global-header">
            <img src="{% static 'app-logo.png' %}" id="app-logo">
            <div id="header-title"> 
                - {% block headertitle %} globalbase.html {% endblock %} 
            </div>
            <div id="menu">
            	<a href="timetable.html">Timetable</a> | <a href="messages.html">Messages</a>
	       </div>
        </div>
        {% if user.is_authenticated %}
        <div id="greeting">Hi {{ user.username }}, you are Awesome! <a href="{% url 'account_logout' %}">Sign Out</a></div>
        {% else %}
        <a href="{% url 'account_login' %}">Sign In</a>
        <a href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}

        <div id="content">
            {% block content %}{% endblock content%}
        </div>
        <div id="global-footer"> PsyFaKo e.V. | check this project out at <a href="https://github.com/psyfako/psyfako_member_management">github</a></div>
    </body>
</html>
