<!DOCTYPE html>

<!-- https://docs.djangoproject.com/en/1.10/howto/static-files/#configuring-static-files -->
{% load static %}

<html>

    <head>

        <title> 
            {% block title %} 
                globalbase.html
            {% endblock %} 
        </title>
        <link rel="icon" href="{% static 'favicon.ico' %}">


    </head>
    
    <header>
    
        <h1> 
            {% block headertitle %} 
                globalbase.html
            {% endblock %} 
        </h1>
        
        {% if user.is_authenticated %}
            WAS IST DAS
            <li>Hi {{ user.username }} you are Awesome!
            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
	{% else %}
            <li><a href="{% url 'account_login' %}">Sign In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
    
    </header>

    <body>

        {% block content %}
        
        {% endblock %}

    </body>
    
    <footer>
        
        <ul>
            <li>PsyFaKo e.V.</li>
            <li>||</li>
            <li>Check out this porject at <a href="https://github.com/psyfako/psyfako_member_management"> github.com </a> </li>
        </ul> 
    
    </footer>

</html>
