@media screen and (max-width: 1020px) {
  #global-header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 8%;
    background-color: #ffffff;
    z-index: 99;
	
    -webkit-box-shadow: 0px 2px 2px 0px rgba(156,156,156,1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(156,156,156,1);
    box-shadow: 0px 2px 2px 0px rgba(156,156,156,1);
}

  #header-title {
    display: none;
  }
    
  #app-logo{
    position: absolute;
    left: 50%;    
    margin-left: -125px;
  }

  #menu{
    position: absolute;
    top: 50px;
    font-size: 8%;
    width: 100%;
    height: 8%;
    line-height: 8%;
    background-color: #B21B11;
    text-align: center;
    margin: 0px;
    padding: 0px;
    
  }

  #menu a{
    color: white;
  }
  
  #greeting{
    display: none;
  }

  #content{
    margin-top: 20px;   
  }
}

@font-face {
    font-family: 'robotoslab';
    src: url('roboto-slab/RobotoSlab-Light-webfont.eot');
    src: url('roboto-slab/RobotoSlab-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-slab/RobotoSlab-Light-webfont.woff') format('woff'),
         url('roboto-slab/RobotoSlab-Light-webfont.ttf') format('truetype'),
         url('roboto-slab/RobotoSlab-Light-webfont.svg#roboto_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'robotoslab';
    overflow-x: hidden;
    margin: 0px;
    background-color: #ddd;
    color: #464646; 
}

a{
	color:#B21B11;
	text-decoration: none;
}

#global-header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    z-index: 99;
	
    -webkit-box-shadow: 0px 2px 2px 0px rgba(156,156,156,1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(156,156,156,1);
    box-shadow: 0px 2px 2px 0px rgba(156,156,156,1);
}

#app-logo{
    float: left;
}

#header-title{
    float: left;
    font-size: 25pt;
    line-height: 45px;
}

#menu{
     line-height: 50px;
	float: right;
	margin: 0px;
     margin-right: 10px;
}


#greeting{
    position: absolute;
    top: 60px;
    right: 10px;
}

#content{
    position: absolute;
    top: 80px;
    width: 100%;
}

#room-detail{
    width: 350px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    margin-left: -175px;
    padding: 5px;
    background-color:  #ffffff;
}

#map{
    width: 320px;
    height: 320px;
    position: relative;
    left: 50%;
    margin-left: -160px;
    margin-bottom: 10px;
}

#global-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: #ffffff;

    text-align: center;
    line-height: 30px;

    -webkit-box-shadow: 0px -2px 2px 0px rgba(156,156,156,1);
    -moz-box-shadow: 0px -2px 2px 0px rgba(156,156,156,1);
    box-shadow: 0px -2px 2px 0px rgba(156,156,156,1);
}

h1{
	margin: 0px;
     font-size: 20pt;
}

.date-nav{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 50%;
    margin-left: -160px;
    height: 40px;
    width: 320px;
}

.date{
    width: 290px;
    text-align: center;
    float: left;
    height: 40px;
    line-height: 40px;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
  	border-right:15px solid #464646; 
	float: left;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;  
	border-left: 15px solid #464646;
	float: right;
}

.timeslots{
    position: relative;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0%);
    display: inline-block;
    margin: 0 auto;
}

.slot{
    background-color: white;
    width: 320px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    float: left;

    -webkit-box-shadow: 3px 3px 5px 0px rgba(110,99,110,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(110,99,110,1);
    box-shadow: 3px 3px 5px 0px rgba(110,99,110,1);
}

.program-circle{
	float: left;
	font-family: 'robotoslab';
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #D27870;
	color: white;
	text-align: center;
	line-height: 30px;
}

.slot header{
	height: 40px;
	line-height: 30px;
	border-bottom: 1px solid #464646; 
	font-family: 'robotoslab';
}

.slot header h3 {
    position: relative;
    left: 5px;
}

.program-time{
	height: 11pt;
	font-size: 11pt;
	color: #6D6D6D;
	position: relative;
	left: 220px;
	top: -70px;
}

.program span{
	white-space:nowrap;
}

.workgroup{
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.workgroup h5{
    font-size: 16pt;
    margin: 2px;
    border-bottom: 1px solid #464646; 
}

.open-group{
    background-color: #98ff72ff;
}

.exchange-group{
    background-color: #c9e6e6ff;
}

.working-group{
    background-color: #ff9b62ff;
}

.position-group{
    background-color: #ffe460ff;
}

.protocol-icon{
	float: right;
	height: 24px;
	width: 24px;
	background:url(protocol-icon.png);
	position: relative;
	top: -5px;
     right: 5px;
}

.protocol-icon:hover{
	background:url(protocol-icon-hover.png);
}

